.flex-container {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', sans-serif;
    padding: 20px 60px;
    line-height: 28px;
}

.column {
    width: 50%;
    height: 1200px;
  }
    .left{
    background: #B7E3E4;
  }
  .right{
    background: #B7E3E4;
  }

ul.container {
    font-family: 'Libre Baskerville', sans-serif;
    padding: 20px 40px;
    line-height: 28px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav {
    height: 60px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: tomato;
    line-height: 60px;
  }
  
  li {
    
  }
  
  a {
    color: white;
    text-decoration: none;
  }

body {
    font-family: 'Libre Baskerville', sans-serif;
    background-color: #B7E3E4;
}

p {
    color: #536079;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    color: #e54b4b;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    color: #e54b4b;
    text-transform: capitalize;
    font-size: 32px;
}
.pullquote {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-style: italic;
    width: 100%;
    line-height: 48px;
}